body{
  background: #ADD8E6;
  text-align: center;
}
img{
  width:250px
}
.menu{
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
    display: inline;
}
#myname{
    font-family: sans-serif
}
